user-story-1.md
user-story-2.md
user-story-3.md
node_modules/
cypress/

.env
data/
database/connection.js
database/sql-connection.js
middleware/
utils/
mysql-files/
routes/auth-routes.js
routes/loginUser.js
routes/registerUser.js
routes/user-routes.js
routes/logoutUser.js
